body {
  background: #efefef;
  /* background: linear-gradient(296.6deg, #BAFFDE 4.36%, #E9FFBB 94.25%); */
}

.card {
  padding: 2em;
  margin: 30px 10px;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #888888;
  font-size: 1rem;
  letter-spacing: .2rem;
  text-align: left;
  text-shadow: 1px 1px #eee;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

.card-green {
  padding: 2em;
  margin: 60px 10px;
  background: linear-gradient(296.6deg, #BAFFDE 4.36%, #E9FFBB 94.25%);
  border: none;
  border-radius: .5rem;
  color: #888888;
  font-size: 1rem;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 1px 1px #eee;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;

  box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.card-blue {
  padding: 2em;
  margin: 60px 10px;
  background: linear-gradient(296.6deg, #CDE7FF 0.36%, #f6e1ff 99.25%);
  border: none;
  border-radius: .5rem;
  color: #888888;
  font-size: 1rem;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 1px 1px #eee;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;

  box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.btn:active {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.link {
  text-decoration: none;
}

.grid-box {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.square {
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.square img {
  max-width: 100%;
  max-height: 100%;
}

.post-button {
  margin-right: 100px;
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.card-box {

  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

/*
@keyframes caret {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} 
*/