.card {
  padding: 2em;
  margin: 30px 10px;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #888888;
  font-size: 1rem;
  letter-spacing: .2rem;
  text-align: left;
  text-shadow: 1px 1px #eee;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  /* box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15); */
  box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.card-green {
  padding: 2em;
  margin: 60px 10px;
  background: linear-gradient(296.6deg, #BAFFDE 4.36%, #E9FFBB 94.25%);
  border: none;
  border-radius: .5rem;
  color: #888888;
  font-size: 1rem;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 1px 1px #eee;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;

  box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.card-blue {
  padding: 2em;
  margin: 60px 10px;
  background: linear-gradient(296.6deg, #CDE7FF 0.36%, #f6e1ff 99.25%);
  border: none;
  border-radius: .5rem;
  color: #888888;
  font-size: 1rem;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 1px 1px #eee;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;

  box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.btn:active {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.link {
  text-decoration: none;
}

.grid-box {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.square {
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.square img {
  max-width: 100%;
  max-height: 100%;
}

.post-button {
  margin-right: 100px;
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

nav {
  margin: 30px 0px
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0px 30px 0px 0px;
  text-decoration: none;
}

nav .link {
  text-decoration: none;
}

/*
@keyframes caret {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.grid-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* display: grid; */
  /* グリッドの列数を設定 */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* 要素の重なりを防ぐために追加 */
  /* grid-auto-flow: dense; */
  /* グリッド間の余白を設定 */
  /* gap: 5px; */
}


.square img {
  max-width: 100%;
  max-height: 100%;
}

.column2 {
  display: flex;
}

.column2 div {
  width: 50%;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
}

/* タブレット以下の画面幅でのcss */
@media screen and (max-width: 1280px) {
  .column2 {
    display: block;
  }
}

/* tutorial */
.slot-machine {
  text-align: center;
}

.slot {
  display: inline-block;
  margin: 0 20px;
}

.slot-inner {
  width: 120px;
  height: 200px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.slot-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.slot-option.selected {
  opacity: 1;
}

.slot-inner.spinning {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-600px);
  }

  51% {
    transform: translateY(600px);
  }

  100% {
    transform: translateY(0);
  }
}

button {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* slide images */

/* line */
.line {

  box-sizing: border-box;

  width: 931px;
  height: 7px;
  left: 283px;
  top: 828px;

  background: #F1F1F1;
  box-shadow: inset 4px 4px 10px rgba(136, 136, 136, 0.3);
  border-radius: 3px;
}